!.gitignore
*.gem
.Trashes
/.bundle/
/.yardoc
/.vscode
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# rbenv config
.ruby-gemset
.ruby-version

Gemfile.lock